In [37]:
import requests as r

In [59]:
x = r.get("http://api.openweathermap.org/data/2.5/weather?q=Tokyo&appid=201e7478e7be199c5d4c38e10ff2db01&units=metric")

In [60]:
print(x.text.split("}")[1].split('"')[1])
# print(x.text.split("}")[1])
print(x.text.split("}")[1].split(':"')[1].split('"')[0])

weather
Clouds

In [61]:
import json

In [62]:
x

In [63]:
dictionary = json.loads(x.text)

In [64]:
dictionary

{'coord': {'lon': 139.69, 'lat': 35.69},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 9.71,
  'feels_like': 4.4,
  'temp_min': 8.33,
  'temp_max': 11.11,
  'pressure': 1022,
  'humidity': 57},
 'visibility': 10000,
 'wind': {'speed': 5.1, 'deg': 20},
 'clouds': {'all': 75},
 'dt': 1607533159,
 'sys': {'type': 1,
  'id': 8074,
  'country': 'JP',
  'sunrise': 1607550013,
  'sunset': 1607585285},
 'timezone': 32400,
 'id': 1850144,
 'name': 'Tokyo',
 'cod': 200}

In [69]:
print("The temperature is", dictionary['main']['temp'], "degrees celcius in", dictionary['name'])

print("Right now the city has", dictionary['weather'][0]['description'])

The temperature is 9.71 degrees celcius in Tokyo
Right now the city has broken clouds